In [4]:
import pandas as pd

df=pd.read_csv('ex1.csv')
df

   ID   NAME  GPA
0   1  AHMED  3.2
1   2   SAID  3.7
2   3   SAIF  3.5

In [6]:
# Stor the GPA list
gpa = df['GPA'].tolist()
gpa

[3.2, 3.7, 3.5]

In [7]:
#calculate the averge of GPA
avg=sum(gpa)/len(gpa)
avg

3.466666666666667

In [8]:
#new student
newid = int(input("enter new student ID: "))
newname = input("enter new student NAME: ")
newgpa = float(input("enter new student GPA: "))

enter new student ID: 4
enter new student NAME: ali
enter new student GPA: 2.7

In [9]:
gpa.insert(2,newgpa)
gpa

[3.2, 3.7, 2.7, 3.5]